@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h4,
h6 {
  color: #222;
}
h1 {
  font-size: 50px;
  line-height: 64px;
}
h2 {
  font-size: 46px;
  line-height: 54px;
}
h4 {
  font-size: 20px;
}
h6 {
  font-size: 12px;
  font-weight: 700;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 5px 20px;
}
.section-p1 {
  padding: 40px 80px;
}
html {
  scroll-behavior: smooth;
}

/*********************************** header section starts here***********************************/
#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
}
#header .headerSearch {
  position: relative;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
/* hero section  */
#hero {
  background-image: url(img/hero4.png);
  background-size: cover;
  background-position: top 25% right 0;
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url(img/button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  color: #088178;
  border: none;
  font-size: 15px;
  font-weight: 700;
  padding: 16px 80px;
  cursor: pointer;
}
/******************Product Section********************/
#product {
  text-align: center;
}
#product .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
/* #product .pro-container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit,min-max(18rem,1fr));
  place-items: center;
  padding:3rem 1rem;
  gap: 2rem;
} */
#product .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro1 img {
  width: 23%;
}
#product .pro .des {
  text-align: start;
}
#product .pro .des h5 {
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}
#product .pro .des h4 {
  padding-top: 7px;
  font-size: 16px;
  font-weight: 700;
  color: #088178;
}

#product .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ----------------------Footer Section----------------- */
#footer {
  background-color: #cce7d0;
  padding: 30px;
}
/**************************************Media Queries**************************/
@media screen and (max-width: 770px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.02);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-cart {
    display: none;
  }
  /* for hero section */
  #hero {
    background-position: top 30% right 30%;
    height: 70vh;
    padding: 0 80px;
  }
  #product .pro-container {
    justify-content: center;
  }
  #product .pro {
    margin: 15px;
  }
  #header .headerSearch{
    width: 200px;
  }
}
@media screen and (min-width:478px) and (max-width:767px){
  #product1 .pro1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 477px) {
  
  #header {
    padding: 10px 10px;
  }
  #header .headerSearch{
    width: 100px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #product1 .pro1 {
    flex-direction: column;
  }
}
/***************Product Details****************/

#product1 .pro1 {
   display: flex;
   background-color: #cce7d0;
  justify-content: space-evenly;
}
#product1 .pro1 .productImage {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#product1 .pro1 img {
  width: 100%;
}
#product1 .productDes {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.productDes .proTitle {
  padding-top: 20px;
  font-size: x-large;
  font-weight: bold;
}
.productDes .proDescription {
  padding-top: 20px;
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
}
.productDes .proQuantity {
  padding-top: 20px;
  text-align: start;
  font-size: 20px;
}
/**********************Loading Indicator**********************/
#loading{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #eb0a0a;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to{
    -webkit-transform: rotate(360deg);
  }
  
}
@-webkit-keyframes spin {
  to{
    -webkit-transform: rotate(360deg);
  }
  
}
/*****************HEADER SEARCH********************/
#header .headerSearch{
  width: 300px;
  background: #fff;
  margin: 20px auto 0;
  border-radius: 5px;
}
.row{
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
input{
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #088178;

}
.searchbtn{
  border: 0;
  outline: 0;
  background: transparent;
}
.searchbtn .fa-solid{
  width: 25px;
  font-size: 22px;
  color:#088178;
  cursor: pointer;
}
::placeholder{
  color: #cce7d0;
}
.resultbox ul{
  border-top:1px solid #465b52;
  padding: 15px 10px;
}
.resultbox ul li{
  list-style-type: none;
  padding: 15px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.resultbox ul li:hover{
  background-color: #cce7d0;
}

.resultbox{
  max-height: 300px;
  overflow-y: scroll;
}

